<style>
    .meeting-grid-container {
        text-align: center;
    }
</style>

<div class="meeting-grid-container">
    {{ with .Page.Params.info.date}}
    <p class="grid-item">{{.}}</p>
    {{end}}
    <p class="meeting-grid-item">
        {{with .Page.Params.info.google}}
        <a href="{{.}}"><img src="https://www.google.com/favicon.ico" alt="谷歌地图" style="height:30px;width:30px;"></a>
        {{end}}
        {{with .Page.Params.info.baidu}}
        <a href="{{.}}"><img src="https://map.baidu.com/favicon.ico" alt="百度地图" style="height:30px;width:30px;"></a>
        {{end}}
        {{with .Page.Params.info.gaode}}
        <a href="{{.}}"><img src="https://ditu.amap.com/favicon.ico" alt="高德地图" style="height:30px;width:30px;"></a>
        {{end}}
    </p>
    {{ with.Page.Params.info.location}}
    <p class="grid-item">{{.}}</p>
    {{end}}
    {{ with .Page.Params.info.address}}
    <p class="grid-item">{{.}}</p>
    {{end}}
</div>