{{ $width := .Get "width" | default "300" }}
{{ $height := .Get "height" | default "200" }}
<div style="text-align: center;">
    <p>May 21st, 2025</p>
    <p>
        Sun Yat-sen University, Shenzhen, China
    </p>
    <p>
        <a href="https://maps.app.goo.gl/t1iFkk9MFk5PA37s9" ><img src="https://www.google.com/favicon.ico" alt="谷歌地图" style="height:30px;width:30px;"></a>
        <a href="https://j.map.baidu.com/6e/pck"><img src="https://map.baidu.com/favicon.ico" alt="百度地图" style="height:30px;width:30px;"></a>
        <a href="https://surl.amap.com/HCHxUAtyeNJ"><img src="https://ditu.amap.com/favicon.ico" alt="高德地图" style="height:30px;width:30px;"></a>
    </p>
    <p>
        No.66,Gongchang Road,Guangming District,Shenzhen,Guangdong 518107,P.R.China
    </p> 
    
</div>
