<style>
    .member-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
    /* 成员容器样式 */
   .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    @media (min-width: 768px) {
       .member {
            flex-direction: row;
            align-items: center;
            text-align: left;
        }
    }

    /* 图片容器样式 */
   .member-image {
        width: 120px;
        height: 140px;
        overflow: hidden;
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
       .member-image {
            margin-bottom: 0;
            margin-right: 2rem;
        }
    }

    /* 图片样式 */
   .member-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .member-content{
        width: 300px;
    }

    /* 文本内容样式 */
   .member-content h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }

   .member-content p {
        margin: 0.1rem;
    }

   .member-content a {
        color: blue;
        text-decoration: none;
    }

   .member-content a:hover {
        text-decoration: underline;
    }

    .member-content strong{
        color: darkgreen;
    }
</style>

{{ $params := slice }}
{{ range $i, $v := .Params }}
    {{ $params = $params | append ($.Get $i) }}
{{ end }}

<div class="member-container">
{{ range $param := $params }}
    {{ range $.Page.Params.members }}
        {{ if eq .name $param }}
            <div class="member">
                <div class="member-image">
                    <a href="{{ .img }}" target="_blank">
                        <img src="{{ .img }}" alt="{{ .name }}">
                    </a>
                </div>
                <div class="member-content">
                    <h2>{{ .name }}</h2>
                    {{ with .email }}
                        <p><strong>Email:</strong> <a href="mailto:{{ . }}">{{ . }}</a></p>
                    {{ end }}
                    {{ with .research }}
                        <p><strong>Research:</strong> {{ . }}</p>
                    {{ end }}
                    
                    {{ with .website }}
                        <p><strong>Website:</strong> <a href="{{ . }}">{{ . }}</a></p>
                    {{ end }}
                    {{ with .hobby }}
                        <p><strong>Hobby:</strong> {{ . }}</p>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}  
</div>  